<?xml version="1.0"?>
<robot name="simple_diffbot">
  <link name="base_footprint" />
  <link name="base_link">
    <visual>
      <geometry>
        <cylinder radius="0.15" length="0.05" />
      </geometry>
    </visual>
    <collision>
      <geometry>
        <cylinder radius="0.15" length="0.05" />
      </geometry>
    </collision>
  </link>
  <link name="left_wheel">
    <visual>
      <origin rpy="1.57 0 0" />
      <geometry>
        <cylinder radius="0.05" length="0.03" />
      </geometry>
    </visual>
    <collision>
      <origin rpy="1.57 0 0" />
      <geometry>
        <cylinder radius="0.05" length="0.03" />
      </geometry>
    </collision>
  </link>
  <link name="right_wheel">
    <visual>
      <origin rpy="1.57 0 0" />
      <geometry>
        <cylinder radius="0.05" length="0.03" />
      </geometry>
    </visual>
    <collision>
      <origin rpy="1.57 0 0" />
      <geometry>
        <cylinder radius="0.05" length="0.03" />
      </geometry>
    </collision>
  </link>
  <link name="caster">
    <visual>
      <geometry>
        <sphere radius="0.025" />
      </geometry>
    </visual>
    <collision>
      <geometry>
        <sphere radius="0.025" />
      </geometry>
    </collision>
  </link>
  <link name="lidar">
    <visual>
      <geometry>
        <cylinder radius="0.03" length="0.04" />
      </geometry>
    </visual>
    <collision>
      <geometry>
        <cylinder radius="0.03" length="0.04" />
      </geometry>
    </collision>
  </link>
  <joint name="base_footprint_to_base_link" type="fixed">
    <parent link="base_footprint" />
    <child link="base_link" />
    <origin xyz="0 0 0.05" />
  </joint>
  <joint name="base_link_to_left_wheel" type="continuous">
    <parent link="base_link" />
    <child link="left_wheel" />
    <origin xyz="0 0.12 -0.025" />
    <axis xyz="0 1 0" />
  </joint>
  <joint name="base_link_to_right_wheel" type="continuous">
    <parent link="base_link" />
    <child link="right_wheel" />
    <origin xyz="0 -0.12 -0.025" />
    <axis xyz="0 1 0" />
  </joint>
  <joint name="base_link_to_caster" type="fixed">
    <parent link="base_link" />
    <child link="caster" />
    <origin xyz="-0.12 0 -0.05" />
  </joint>
  <joint name="base_link_to_lidar" type="fixed">
    <parent link="base_link" />
    <child link="lidar" />
    <origin xyz="0 0 0.045" />
  </joint>
</robot>
